<% provide(:title, '出勤社員一覧') %>
<h1>出勤社員一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover table-users">
    <thead>
      <tr>
        <th class="center"><%= User.human_attribute_name :employee_number %></th>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="center"><%= user.employee_number %></td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @users.empty? %>
    <p class="center">現在出勤中の社員はいません。</p>
  <% end %>
</div>
